target/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

mavericksdb.mv.db
mavericksdb.trace.db
*.db

.m2/

.idea/
.vscode/
*.iml

.DS_Store

*.log
.mtj.tmp/
hs_err_pid*
replay_pid*

.env
*.env
application-secret.properties
